
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

* {
  font-family: 'Open Sans';
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
  background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.center {
  width: 320px;
  height: 299px;
  background: white;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #786450;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2;
  grid-template: 1 / 2;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.outer-circle, 
.inner-circle {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  z-index: 100;
  transition: all 2s ease-in-out;
  border: 1px solid #786450;
}

.outer-circle {
  width: 75px;
  height: 75px;
  border-left-color: transparent;
}

.avatar-wrapper:hover .outer-circle {
  transform: rotate(360deg);
}

.inner-circle {
  width: 81px;
  height: 81px;
  border-right-color: transparent;
}

.avatar-wrapper:hover .inner-circle {
  transform: rotate(-360deg);
}

img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 0;
}

p {
  width: 100%;
  height: 20px;
  text-align: center;
}

.user-name {
  font-weight: 600;
  margin-bottom: 0;
}

.user-details {
  font-weight: 400;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
}

.action-btn {
  width: 120px;
  height: 30px;
  border: 1px solid #786450;
  border-radius: 30px;
  margin-top: 10px;
  background-color: white;
  color: #786450;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.4s linear;
}

.action-btn:hover {
  background-color: #786450;
  color: white;
}

.right-side {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  row-gap: 2px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.right-side .box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #F5E8DF;
  transition: all 0.4s linear;
}

.right-side .box:hover {
  background: #E1CFC2;
  cursor: pointer;
}

.right-side .box .value {
  font-size: 18px;
  font-weight: bold;
}

.right-side .box .parameters {
  font-size: 11px;
  font-weight: 400;
}
